.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  width: 80%;
  font-size: 12px;
  margin: 20px;
  border: solid 2px #ffffffde;
  max-height: 5.5rem;
  overflow: hidden;
  transition: all 0.5s ease;
  animation: entering 200ms linear;
}

.card.show {
  transition: max-height 2s ease;
  max-height: 50rem; /* algo maior que o conteúdo real */
}
.card span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.card .card-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 90%;
  flex-wrap: nowrap;
}

.card .card-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: start;
  width: 90%;
  flex-wrap: nowrap;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 80%;
  height: auto;
  flex-wrap: nowrap;
  color: #ffffffc4;
  text-align: start;
  font-size: 15px;
  border-top: solid 2px #ffffff25;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
.card h3 {
  margin: 0 0 0 0;
  padding: 0;
  color: #ffffffef;
  font-size: 25px;
}
.card p {
  margin: 0 0 0 0;
  padding: 0;
}

.card .expose {
  text-align: center;
  cursor: pointer;
  position: relative;
}
.nothing {
  display: none;
}

/* Estado ABERTO (quando não está checado) */
.nothing:not(:checked) + label .expose::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 1rem;
  height: 0.5rem;
  background-color: var(--color);
  border-radius: 15%;
  transform: rotate(45deg);
}

.nothing:not(:checked) + label .expose::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  right: 0;
  width: 1rem;
  height: 0.5rem;
  background-color: var(--color);
  border-radius: 15%;
  transform: rotate(-45deg);
}

/* Estado FECHADO (quando está checado) */
.nothing:checked + label .expose::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 1rem;
  height: 0.5rem;
  background-color: var(--color);
  border-radius: 15%;
  transform: rotate(-45deg);
}

.nothing:checked + label .expose::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  right: 0;
  width: 1rem;
  height: 0.5rem;
  background-color: var(--color);
  border-radius: 15%;
  transform: rotate(45deg);
}
.nothing + label .expose {
  --color: #ffffff;
}
.nothing + label .expose:hover {
  --color: #b3b3b3;
}
.card .card-functions {
  display: flex;
  justify-self: end;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 8%;
  height: 5rem;
  flex-wrap: nowrap;
  margin: 0 0 0 0;
  padding: 4px 0 4px 0;
  border-bottom: solid 2px #ffffff60;
  border-left: solid 2px #ffffff60;
}
.card .card-functions .delete {
  position: relative;
  --color: #ffffff;
}
.card .card-functions .delete::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 0.3rem;
  background-color: var(--color);
  border-radius: 15%;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: 0;
}
.card .card-functions .delete::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 0.3rem;
  background-color: var(--color);
  border-radius: 15%;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: 0;
}
.card .card-functions .edit {
  position: relative;
  --color: #ffffff;
}
.card .card-functions .edit::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.6rem;
  border: solid 3px var(--color);
  border-radius: 15%;
  position: absolute;
  top: 4px;
  left: 2px;
}
.card .card-functions .edit::after {
  content: "";
  display: block;
  width: 0.7rem;
  height: 0.2rem;
  background-color: var(--color);
  border-radius: 15%;
  position: absolute;
  top: 14px;
  right: 1px;
  transform: rotate(45deg);
}
.card .card-functions .done {
  position: relative;
  --color: #ffffff;
}
.card .card-functions .done::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.3rem;
  background-color: var(--color);
  border-radius: 15%;
  position: absolute;
  top: 10px;
  right: 0;
  transform: rotate(-45deg);
}
.card .card-functions .done::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.35rem;
  background-color: var(--color);
  border-radius: 15%;
  position: absolute;
  top: 11px;
  left: 3px;
  transform: rotate(45deg);
}
.card .card-functions .done:hover {
  --color: #b3b3b3;
}
.card .card-functions .delete:hover {
  --color: #b3b3b3;
}
.card .card-functions .edit:hover {
  --color: #b3b3b3;
}

.editing {
  border: solid 4px #fbff00b6;
}
.editing p{
  all: unset;
  min-height: 1.5rem;
  font-size: 1.25rem;
  border: solid 1px #ffffff25;
  padding: 4px 0 4px 10px;
  border-bottom: solid 2px #ffffff60;
  border-left: solid 2px #ffffff60;
}
.editing .card-content{
  border-top:none ;
}
.doned {
  background-color: #353535;
  border: solid 4px#24dd0c6e;
}
.removing {
  opacity: 0;
  transition: opacity 100ms ease;
}
@keyframes entering {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}